.top-button {
	position: absolute;
	top: 0%;
	right: 0;
}
.feature-card-deatails {
	position: absolute;
	bottom: -228px;
	left: 0;
	width: 100%;
	padding: 20px;
	background: rgba(255, 255, 255, 0.6);
	transition: 0.3s ease-in-out;

	color: #888;
}

.feature-card-tilte {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 0;
	width: 100%;
	text-transform: uppercase;
	transition: 0.3s ease-in-out;
	padding: 20px;
	background-color: rgba(var(--blue), 0.15);
}

.feature-card-tilte h3 {
	font-size: 22px;
	font-weight: 700;
	color: #373737;
}

.feature-card-deatails i {
	color: #1d365c;
}

.feature-card-deatails h4 {
	font-size: 20px;
	color: #1d365c;
	margin: 15px 0;
	text-transform: uppercase;
	font-weight: 700;
}

.card-h:hover .feature-card-deatails {
	bottom: 0;
}
.card-h:hover .feature-card-tilte {
	bottom: -67px;
}
